
.vs/ProyectoFerreteria/v16/Server/sqlite3/db.lock
.vs/ProyectoFerreteria/v16/Server/sqlite3/storage.ide
.vs/ProyectoFerreteria/v16/Server/sqlite3/storage.ide-shm
.vs/ProyectoFerreteria/v16/Server/sqlite3/storage.ide-wal
.vs/ProyectoFerreteria/v16/.suo
.vs/ProyectoFerreteria/DesignTimeBuild/.dtbcache
.vs/ProyectoFerreteria/v16/.suo
.vs/ProyectoFerreteria/v16/.suo
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.vbprojAssemblyReference.cache
ProyectoFerreteria/obj/Debug/Ferreteria - Presentacion.vbproj.CoreCompileInputs.cache
ProyectoFerreteria/obj/Debug/Ferreteria - Presentacion.vbprojAssemblyReference.cache
.vs/ProyectoFerreteria/v16/.suo
Ferreteria - AccesoDatos/obj/Release/build.force
Ferreteria - LogicaNegocios/obj/Release/build.force
.vs/ProyectoFerreteria/v16/.suo
Ferreteria - AccesoDatos/bin/Debug/Ferreteria - AccesoDatos.dll
Ferreteria - AccesoDatos/bin/Debug/Ferreteria - AccesoDatos.pdb
Ferreteria - AccesoDatos/bin/Debug/Ferreteria - Entidades.dll
Ferreteria - AccesoDatos/bin/Debug/Ferreteria - Entidades.pdb
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.dll
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.pdb
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.vbproj.CoreCompileInputs.cache
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.vbproj.GenerateResource.cache
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.vbprojAssemblyReference.cache
Ferreteria - Entidades/bin/Debug/Ferreteria - Entidades.dll
Ferreteria - Entidades/bin/Debug/Ferreteria - Entidades.pdb
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.dll
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.pdb
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.vbproj.CoreCompileInputs.cache
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.vbproj.FileListAbsolute.txt
.vs/ProyectoFerreteria/v16/.suo
Ferreteria - AccesoDatos/bin/Debug/Ferreteria - AccesoDatos.dll
Ferreteria - AccesoDatos/bin/Debug/Ferreteria - AccesoDatos.pdb
Ferreteria - AccesoDatos/bin/Debug/Ferreteria - Entidades.dll
Ferreteria - AccesoDatos/bin/Debug/Ferreteria - Entidades.pdb
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.dll
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.pdb
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.vbproj.CoreCompileInputs.cache
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.vbproj.GenerateResource.cache
Ferreteria - AccesoDatos/obj/Debug/Ferreteria - AccesoDatos.vbprojAssemblyReference.cache
Ferreteria - Entidades/bin/Debug/Ferreteria - Entidades.dll
Ferreteria - Entidades/bin/Debug/Ferreteria - Entidades.pdb
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.dll
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.pdb
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.vbproj.CoreCompileInputs.cache
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.vbproj.FileListAbsolute.txt
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.vbprojAssemblyReference.cache
Ferreteria - LogicaNegocios/bin/Debug/Ferreteria - AccesoDatos.dll
Ferreteria - LogicaNegocios/bin/Debug/Ferreteria - AccesoDatos.pdb
Ferreteria - LogicaNegocios/bin/Debug/Ferreteria - Entidades.dll
Ferreteria - LogicaNegocios/bin/Debug/Ferreteria - Entidades.pdb
Ferreteria - LogicaNegocios/bin/Debug/Ferreteria - LogicaNegocios.dll
Ferreteria - LogicaNegocios/bin/Debug/Ferreteria - LogicaNegocios.pdb
Ferreteria - LogicaNegocios/obj/Debug/Ferreteria - LogicaNegocios.dll
Ferreteria - LogicaNegocios/obj/Debug/Ferreteria - LogicaNegocios.pdb
Ferreteria - LogicaNegocios/obj/Debug/Ferreteria - LogicaNegocios.vbproj.CoreCompileInputs.cache
Ferreteria - LogicaNegocios/obj/Debug/Ferreteria - LogicaNegocios.vbproj.GenerateResource.cache
Ferreteria - LogicaNegocios/obj/Debug/Ferreteria - LogicaNegocios.vbprojAssemblyReference.cache
ProyectoFerreteria/bin/Debug/app.publish/ProyectoFerreteria.exe
ProyectoFerreteria/bin/Debug/Ferreteria - AccesoDatos.dll
ProyectoFerreteria/bin/Debug/Ferreteria - AccesoDatos.pdb
ProyectoFerreteria/bin/Debug/Ferreteria - Entidades.dll
ProyectoFerreteria/bin/Debug/Ferreteria - Entidades.pdb
ProyectoFerreteria/bin/Debug/Ferreteria - LogicaNegocios.dll
ProyectoFerreteria/bin/Debug/Ferreteria - LogicaNegocios.pdb
ProyectoFerreteria/bin/Debug/ProyectoFerreteria.application
ProyectoFerreteria/bin/Debug/ProyectoFerreteria.exe
ProyectoFerreteria/bin/Debug/ProyectoFerreteria.exe.manifest
ProyectoFerreteria/bin/Debug/ProyectoFerreteria.pdb
ProyectoFerreteria/obj/Debug/Ferreteria - Presentacion.vbproj.GenerateResource.cache
ProyectoFerreteria/obj/Debug/Ferreteria - Presentacion.vbprojAssemblyReference.cache
ProyectoFerreteria/obj/Debug/ProyectoFerreteria.application
ProyectoFerreteria/obj/Debug/ProyectoFerreteria.Arqueo.resources
ProyectoFerreteria/obj/Debug/ProyectoFerreteria.exe
ProyectoFerreteria/obj/Debug/ProyectoFerreteria.exe.manifest
ProyectoFerreteria/obj/Debug/ProyectoFerreteria.pdb
ProyectoFerreteria/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/ProyectoFerreteria/v16/.suo
.vs/ProyectoFerreteria/v16/.suo
ProyectoFerreteria/bin/Debug/app.publish/ProyectoFerreteria.exe
ProyectoFerreteria/bin/Debug/ProyectoFerreteria.application
ProyectoFerreteria/bin/Debug/ProyectoFerreteria.exe
ProyectoFerreteria/bin/Debug/ProyectoFerreteria.exe.manifest
ProyectoFerreteria/bin/Debug/ProyectoFerreteria.pdb
ProyectoFerreteria/Formularios/Formularios Hijos/Estadisticas.Designer.vb
ProyectoFerreteria/Formularios/Formularios Hijos/Estadisticas.resx
ProyectoFerreteria/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ProyectoFerreteria/obj/Debug/Ferreteria - Presentacion.vbproj.GenerateResource.cache
ProyectoFerreteria/obj/Debug/Ferreteria - Presentacion.vbprojAssemblyReference.cache
ProyectoFerreteria/obj/Debug/ProyectoFerreteria.application
ProyectoFerreteria/obj/Debug/ProyectoFerreteria.exe
ProyectoFerreteria/obj/Debug/ProyectoFerreteria.exe.manifest
ProyectoFerreteria/obj/Debug/ProyectoFerreteria.pdb
ProyectoFerreteria/obj/Release/ProyectoFerreteria.Principal.resources
ProyectoFerreteria/obj/Release/ProyectoFerreteria.pdb
ProyectoFerreteria/obj/Release/ProyectoFerreteria.exe.manifest
ProyectoFerreteria/obj/Release/ProyectoFerreteria.exe
ProyectoFerreteria/obj/Release/ProyectoFerreteria.Cliente.resources
ProyectoFerreteria/obj/Release/ProyectoFerreteria.Arqueo.resources
ProyectoFerreteria/obj/Release/ProyectoFerreteria.application
ProyectoFerreteria/obj/Release/ProyectoFerreteria.AgregarProducto.resources
ProyectoFerreteria/obj/Release/Ferreteria - Presentacion.vbprojAssemblyReference.cache
ProyectoFerreteria/obj/Release/Ferreteria - Presentacion.vbproj.GenerateResource.cache
ProyectoFerreteria/obj/Release/Ferreteria - Presentacion.vbproj.FileListAbsolute.txt
ProyectoFerreteria/obj/Release/Ferreteria - Presentacion.vbproj.CoreCompileInputs.cache
ProyectoFerreteria/obj/Release/Ferreteria - Presentacion.vbproj.CopyComplete
ProyectoFerreteria/bin/Release/ProyectoFerreteria.pdb
ProyectoFerreteria/bin/Release/ProyectoFerreteria.exe.manifest
ProyectoFerreteria/bin/Release/ProyectoFerreteria.exe
ProyectoFerreteria/bin/Release/ProyectoFerreteria.application
ProyectoFerreteria/bin/Release/Ferreteria - LogicaNegocios.pdb
ProyectoFerreteria/bin/Release/Ferreteria - LogicaNegocios.dll
ProyectoFerreteria/bin/Release/Ferreteria - Entidades.pdb
ProyectoFerreteria/bin/Release/Ferreteria - Entidades.dll
ProyectoFerreteria/bin/Release/Ferreteria - AccesoDatos.pdb
ProyectoFerreteria/bin/Release/Ferreteria - AccesoDatos.dll.config
ProyectoFerreteria/bin/Release/Ferreteria - AccesoDatos.dll
ProyectoFerreteria/bin/Release/Errores.txt
ProyectoFerreteria/bin/Release/app.publish/ProyectoFerreteria.exe
Ferreteria - LogicaNegocios/obj/Release/Ferreteria - LogicaNegocios.vbprojAssemblyReference.cache
Ferreteria - LogicaNegocios/obj/Release/Ferreteria - LogicaNegocios.vbproj.GenerateResource.cache
Ferreteria - LogicaNegocios/obj/Release/Ferreteria - LogicaNegocios.vbproj.CoreCompileInputs.cache
Ferreteria - LogicaNegocios/obj/Release/Ferreteria - LogicaNegocios.pdb
Ferreteria - LogicaNegocios/obj/Release/Ferreteria - LogicaNegocios.dll
Ferreteria - LogicaNegocios/bin/Release/Ferreteria - LogicaNegocios.pdb
Ferreteria - LogicaNegocios/bin/Release/Ferreteria - LogicaNegocios.dll
Ferreteria - LogicaNegocios/bin/Release/Ferreteria - Entidades.pdb
Ferreteria - LogicaNegocios/bin/Release/Ferreteria - Entidades.dll
Ferreteria - LogicaNegocios/bin/Release/Ferreteria - AccesoDatos.pdb
Ferreteria - LogicaNegocios/bin/Release/Ferreteria - AccesoDatos.dll
Ferreteria - Entidades/obj/Release/Ferreteria - Entidades.vbprojAssemblyReference.cache
Ferreteria - Entidades/obj/Release/Ferreteria - Entidades.vbproj.GenerateResource.cache
Ferreteria - Entidades/obj/Release/Ferreteria - Entidades.vbproj.CoreCompileInputs.cache
Ferreteria - Entidades/obj/Release/Ferreteria - Entidades.pdb
Ferreteria - Entidades/obj/Release/Ferreteria - Entidades.dll
Ferreteria - Entidades/bin/Release/Ferreteria - Entidades.pdb
Ferreteria - Entidades/bin/Release/Ferreteria - Entidades.dll
Ferreteria - AccesoDatos/obj/Release/Ferreteria - AccesoDatos.vbprojAssemblyReference.cache
Ferreteria - AccesoDatos/obj/Release/Ferreteria - AccesoDatos.vbproj.GenerateResource.cache
Ferreteria - AccesoDatos/obj/Release/Ferreteria - AccesoDatos.vbproj.CoreCompileInputs.cache
Ferreteria - AccesoDatos/obj/Release/Ferreteria - AccesoDatos.pdb
Ferreteria - AccesoDatos/obj/Release/Ferreteria - AccesoDatos.dll
Ferreteria - AccesoDatos/bin/Release/Ferreteria - Entidades.pdb
Ferreteria - AccesoDatos/bin/Release/Ferreteria - Entidades.dll
Ferreteria - AccesoDatos/bin/Release/Ferreteria - AccesoDatos.pdb
Ferreteria - AccesoDatos/bin/Release/Ferreteria - AccesoDatos.dll
.vs/ProyectoFerreteria/v16/.suo
ProyectoFerreteria/obj/Debug/Ferreteria - Presentacion.vbprojAssemblyReference.cache
ProyectoFerreteria/bin/Debug/Ferreteria - AccesoDatos.xml
Ferreteria - Entidades/obj/Debug/Ferreteria - Entidades.vbproj.GenerateResource.cache
.vs/ProyectoFerreteria/v16/.suo
